Carriage return in url shows PHP warning

When the following payload is entered in the short link generator, a PHP warning shows up:

```
https://google.com/
X-example: test
```
The newline (\n, %0A) should be replaced by a carriage return (\r, %0D) in a program like BurpSuite for this to work.

Newline and carriage return characters should be filtered before being passed to the PHP header() function. Newlines are already being filtered out, but carriage returns not.

Here is the POST body:
`https%3A%2F%2Fgoogle.com%2F%0AX-example%3A%20test`

![image](https://user-images.githubusercontent.com/42268494/194853121-7147c5f0-3532-4e28-ab27-1c720ddda873.png)


Thanks for the report Sander!

Filtering out those characters is generally good hardening, hence PHP doing this by default, but I'd like to fix the root cause: since when is `\r` a valid URL character? I thought I had some `parse_url()` stuff in there to ensure URLs are valid before labeling it a link redirect. This input should be detected as a paste instead, unless it triggers some heuristic that attempts to fix bad inputs ([example](https://github.com/lgommans/dro.pm/blob/master/web/api/functions.php#L322)) in which case it should be fixed and not be labeling the garbage data as a URL. Hmm...

```

Hi,

The request parameter (passed via the browser as `val=...` to `$_POST['val']` in PHP) is not being filtered in the rest of the code. 
Here ( https://github.com/lgommans/dro.pm/blob/master/web/api/functions.php#L307 ) you get the value from `$_POST` and store it in `$data`
And on this line ( https://github.com/lgommans/dro.pm/blob/master/web/api/functions.php#L343 ) you store the escaped `$data` in the database. So the `\r` gets stored inside the database.

On a next request, when visiting the shortened URL, this line ( https://github.com/lgommans/dro.pm/blob/master/web/gotoUrl.php#L26 ) is executed with the PHP header function, which allowed for header injection in an earlier version of PHP. So if the string passed to it contained a newline, you could add your own headers to the output. 

Headers in HTML are just lines with \r\n at the end, so by injecting a \r\n you can add your own header after the value of the previous one. For example: `https://google.com/\r\nX-Example: test` would lead to 
```
Location: https://google.com/
X-Example: test
```
)

**This is however fixed in newer versions of PHP. It now just shows a warning.** 

So your code is not actually a vulnerability anymore in the PHP version you use, it was just a simple PHP warning that the value passed to the header function may not contain `\r`.

I also tried `\n`, but that one failed because it sees the output as the contents of a text file instead of as a link.

So I tried `\r` and hoped for the PHP header function not filtering that value. And also hoped that some browsers would ignore the missing newline after the `\r` and just see it as a new header. That would look like this:
`Location: https://google.com/\rX-Example: test` gets fixed to `Location: https://google.com/\r\nX-Example: test` by the browser (browser adds the `\n`, but I don't know if any current browser does that)

- Sander

Thanks for the further pointers, though to be honest I now also figured out what the code is doing and how it is wrong. Initially I had pressed ctrl+enter accidentally or there wouldn't have been a comment of mine here yet and you wouldn't have spent time responding, sorry about that. I've been testing the solution as mentioned in my previous comment and was checking some other things before committing the fix and commenting again.

> The request parameter [with the link data] is not being filtered

Filtering certain characters is never the solution:

- The user will not appreciate if we silently drop parts of their input behind the scenes. I've seen this so many times when filling out a contact form and the support team gets some wall of text, mixed with literal error messages I'm reporting, without the original newlines, and has to untangle the mess. Or a phone number field that drops a plus symbol, or parentheses as in `+31 (0)6 12345678`. Or dropping script tags in forum software when I am trying to explain how XSS works. There are so many examples of where this is annoying without solving any problem.
- It doesn't suddenly make the data safe, security-wise: one can filter quotes before passing data to a database, but that doesn't make `delete from users` a safe input to execute, despite being only a-z and consisting of regular dictionary words -- as safe as you could possibly filter a free-form input. Also, filtering newlines in headers is not actually correct because [header values can include newlines](https://stackoverflow.com/questions/31237198/is-it-possible-to-include-multiple-crlfs-in-a-http-header-field).

Checking against a deny list of characters (rather than silently filtering characters) can be good defense-in-depth, but really the user should get an error from the validator before it makes it to something like this `header()` output. Given the proposed solution, the person who opens the link would get the error (or malformed data, if I'd filter) rather than what the sender meant to send.

The generally correct solution for unsafe data, and yes I know I am guilty of not following best practices in this hobby-grade code :), would be to pass any raw data as a separate data parameter (e.g. parameterized queries, length prefixing, whatever), or escaped for the target syntax if parameterization is not possible (HTTP header value syntax in this case), or otherwise tell the user that their input isn't acceptable so they can choose the best possible solution.

I think (=assumption) that any legal URL is probably also a legal header value, so I can avoid the problem here. On dro.pm, any non-URLs are not put in a header so......no, wait a minute... [filenames are also passed as header!](https://github.com/lgommans/dro.pm/blob/master/web/gotoUrl.php#L68) Crap, now I do need to encode this data :sweat_smile:

After some investigation, it seems that URL parameter encoding is valid for the filename parameter, so I could just use that. It ought to replace any control characters, newlines, spaces, quotes (since the filename is quoted in the header)... hmm, but testing some more, it seems it's already being tampered with before it reaches my code. This turns out to be quite the rabbit hole. Maybe someone knows what is going on here, so I posted this question: https://stackoverflow.com/questions/74034818/what-encoding-is-applied-to-special-characters-in-uploaded-filenames (Feel free to answer over there if you know the answer!)

Filename handling is to be continued! But the URL handling is here :)

---

How did you find this, by the way? It sounds like you were checking for security flaws in dropm? If yes, I would be quite happy that someone besides myself finally looked at its security :D

The example I gave before indeed doesn't introduce a vulnerability. But as you said, the value of the `filename` parameter in the `Content-Disposition` header should be checked to ensure someone cannot inject a double quote (`"`) and add additional parameters to the `Content-Disposition` header ( https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Disposition#filename ):

> Is followed by a string containing the original name of the file transmitted. The filename is always optional and must not be used blindly by the application: path information should be stripped, and conversion to the server file system rules should be done. This parameter provides mostly indicative information. When used in combination with Content-Disposition: attachment, it is used as the default filename for an eventual "Save As" dialog presented to the user.

And https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Disposition#filename_2 :

> The parameters filename and filename* differ only in that filename* uses the encoding defined in [RFC 5987](https://datatracker.ietf.org/doc/html/rfc5987). When both filename and filename* are present in a single header field value, filename* is preferred over filename when both are understood.

The RFC says at section 3.2.1 ( https://datatracker.ietf.org/doc/html/rfc5987#section-3.2.1 ):

> attribute     = token
>      value         = token / quoted-string
>      quoted-string = <quoted-string, defined in [[RFC2616], Section 2.2](https://datatracker.ietf.org/doc/html/rfc2616#section-2.2)>
>      token         = <token, defined in [[RFC2616], Section 2.2](https://datatracker.ietf.org/doc/html/rfc2616#section-2.2)>

Which links to another RFC, section 2.2 ( https://datatracker.ietf.org/doc/html/rfc2616#section-2.2 ):

> Many HTTP/1.1 header field values consist of words separated by LWS
>    or special characters. These special characters MUST be in a quoted
>    string to be used within a parameter value (as defined in [section](https://datatracker.ietf.org/doc/html/rfc2616#section-3.6)
>    [3.6](https://datatracker.ietf.org/doc/html/rfc2616#section-3.6)).
>        token          = 1*<any CHAR except CTLs or separators>
>        separators     = "(" | ")" | "<" | ">" | "@"
>                       | "," | ";" | ":" | "\" | <">
>                       | "/" | "[" | "]" | "?" | "="
>                       | "{" | "}" | SP | HT

And

> A string of text is parsed as a single word if it is quoted using
>    double-quote marks.
>        quoted-string  = ( <"> *(qdtext | quoted-pair ) <"> )
>        qdtext         = <any TEXT except <">>

And

> CTL            = <any US-ASCII control character
>                         (octets 0 - 31) and DEL (127)>

Which means:
filename=your_file_name.txt
attribute `filename` is a token. A token cannot contain characters in the character set `separators`. Also `CTLs` are not allowed. 
separator is an equals symbol: `=`
value `your_file_name.txt` is a token OR a quoted string. Token is explained above, quoted string is ANY text that does not contain a double quote (`"`)

Don't know about browser compatibility, MDN also tells:
> Warning: The string following filename should always be put into quotes; but, for compatibility reasons, many browsers try to parse unquoted names that contain spaces.

So a value should be written as a quoted string and not as a token. You already used the quoted string, but you did not strip double quotes from it or encode them (if encoding is even possible). I could not find if that is possible in the RFC after quickly looking over it and writing this comment.

Hope I read the RFC correctly.

TL;DR:

Quotes should be removed (or encoded if that is even possible) to prevent input like the following:
```php
<?php

$input = "My_File Name Which contains a double \" quote=\"injected";

header("Content-Disposition: attachment; filename=\"" . $input . "\"");
```

Which will lead to the following output:

`Content-Disposition: attachment; filename="My_File Name Which contains a double " quote="injected"`

This allows users to create extra attributes/parameters in the `Content-Disposition` header, like the `quote` parameter being set to the value `injected`. This might be harmless because there are no dangerous attributes (as far as I know) for this header in this situation.

---

I found your repository after watching a workshop/presentation from Max Kersten at school (Fontys Hogeschool ICT in Eindhoven) about malware reverse engineering. He used drop.pm to give us files needed to participate in the workshop. I visited the website, and thought: why not check for a simple vulnerability. Thought I found one, and reported it here on GitHub. But actually the finding I reported was not a vulnerability, just a PHP warning. :D

Was going through open tickets when I noticed this slipped from my attention. Thanks for the checking of RFCs; your reading sounds correct to me and I've (hopefully) implemented it accordingly: quoted string and escaping the quotes with a backslash. Testing in Firefox, it swallows the quote symbols and collapses spaces, but that doesn't seem to be something we can alter.

> I visited the website, and thought: why not check for a simple vulnerability

Nice, that's the spirit :D  
I know Max indeed, fun to hear he still finds dropm useful ^^